nav .menu li.redirect-node-can-edit a {
  padding-right: 25px;
}
nav .menu li.redirect-node-can-edit a a.redirect-node-edit-link {
  display: none;
  padding: 0 0 0 .25em;
  margin: -.2em -1.75em -.5em -.25em;
  color: #999;
  float: right;
  width: 1.5em;
  height: 1.9em;
}
nav .menu li.redirect-node-can-edit a a.redirect-node-edit-link img {
  opacity: .5;
  vertical-align: bottom;
  height: 1em;
}
nav .menu li.redirect-node-can-edit a:hover a.redirect-node-edit-link {
  display: inline-block;
}
nav .menu li.redirect-node-can-edit a:hover a.redirect-node-edit-link:hover {
  background-color: inherit;
}
nav .menu li.redirect-node-can-edit a:hover a.redirect-node-edit-link:hover img {
  opacity: 1;
}
